.rep-div-main {
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color:rgba(202, 202, 188, 0.363) ;
}

.rep-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.rep-a4 {
    width: 794px;
    background-color: white;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 40px;
}

.rep-logo {
    width: 110px;
    height: 110px;
}

.rep-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.rep-clg {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rep-p1 {
    font-size: 25px;
    font-weight: bolder;
}

.rep-p2,
.rep-p3 {
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}

.rep-procedure {
    margin-top: 30px;
    font-size: 19px;
}

.rep-olist {
    margin-left: 20px;
    text-align: justify;
    margin-top: 15px;
}

.rep-list {
    margin-top: 7px;
    font-size: 17px;
}

.rep-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.rep-table th {
    text-align: center;
    font-size: 15px;
    padding: 12px;
    border: 0.5px solid black;
    font-weight: bold;
}

.rep-table td {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border: 0.5px solid black;
    font-weight: bold;
}

.rep-procedure-table {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

.rep-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

.rep-info {
    display: flex;
    justify-content: space-between;
}

.rep-coe {
    margin-top: 100px;
    text-align: right;
    margin-bottom: 70px;
}

.rep-view-div {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.rep-view-btn,
.rep-view-btn-download {
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}

.rep-view-btn-download {
    background-color: #057252;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}