.sco-main {
     padding: 15px;
}

.sco-header {
     display: flex;
     flex-direction: row;
}

.sco-header-title1 {
     width: 100%;
     display: flex;
     flex-direction: column;
     font-weight: bolder;
     justify-content: center;
     align-items: center;
}

.sco-heading {
     margin: 30px 0px;
}

.sco-header-title2 {
     margin-top: 18px;
     width: 100%;
     height: 60px;
     background-color: #057252;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
     font-weight: bold;
     color: white;
}

.sco-table {
     width: 100%;
     border-collapse: collapse;
     font-size: 15px;
     text-align: center;
 }

.sco-table th {
    background-color: #057252;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 20px;
    border: 0.5px solid black;
    font-weight: bold;
    text-transform: uppercase;
}

.sco-table td {
    border: 0.5px solid black;
    padding: 20px;
    font-weight: bold;
}

.sco-content-cia {
	background-color: #4a91e248
}

.sco-content-ese {
	background-color: rgba(255, 166, 0, 0.301)
}

.sco-content-all {
	background-color: #81c7847c
}
