.dept-repo-main {
    padding: 10px;
    text-align: center;
}

.dept-repo-btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.dept-repo-filter {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 4.5px;
}

.dept-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dept-repo-search {
    text-align: left;
    margin-top: 15px;
}

.dept-search-input {
    padding: 13px;
    width: 280px;
    border-radius: 7px;
    border: 2px solid #1c8163;
    font-size: 18px;
}

.dept-search-btn {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(13, 124, 228);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

.dept-repo-search-counts {
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-top: 22px;
}

.dept-search-btn:hover {
    background-color: rgb(29, 87, 145);
}

.dept-repo-btn {
    padding: 12px;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}

.dept-repo-btn:hover {
    background-color: #076ad4;
}

.dept-repo-header {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
}

.dept-repo-heading {
    background-color: #1c8163;
    text-align: center;
    font-size: 18px;
    color: white;
    border: 1px solid gray;
    padding: 10px;
    height: 65px;
    font-weight: bold;
    border-color: black;
    padding-left: 10px 2px;
}

.dept-repo-content,
.dept-repo-content-sn,
.dept-repo-content-dn,
.dept-repo-content-sr {
    text-align: center;
    font-size: 16px;
    border: 1px solid gray;
    padding: 0px 7px;
    height: 65px;
    font-weight: bold;
}

.dept-repo-content-sn,
.dept-repo-content-dn {
    text-transform: uppercase;
    font-size: 15px;
    padding: 0px 22px;
}

.dept-repo-content-sr {
    padding: 0px 10px;
}

.dept-repo-label {
    display: flex;
    gap: 12px;
    font-size: 20px;
}

.dept-repo-label input[type="checkbox"] {
    transform: scale(1.5);
}

.dept-repo-dark {
    background-color: rgb(250, 250, 254);
}

.dept-repo-light {
    background-color: white;
}