* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.smsh-main {
     padding: 25px;
     display: flex;
     flex-direction: column;
     gap: 18px;
     background-color: #f9fafc;
     min-height: 100vh;
}

.smsh-top-heading {
     text-align: center;
     font-size: 26px;
     font-weight: 700;
     letter-spacing: 1px;
     word-spacing: 2px;
     color: #173d61;
     text-transform: uppercase;
}

.smsh-input-btn {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.smsh-search {
     width: 270px;
     height: 45px;
     padding: 12px 14px;
     border-radius: 7px;
     font-size: 16px;
     border: 2px solid #173d61;
     background-color: #fafafe;
}

.smsh-save-btn {
     background-color: #057252;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
     width: 130px;
     height: 42px;
     font-size: 16px;
     font-weight: 600;
     border-radius: 8px;
     border: none;
     cursor: pointer;
     transition: background-color 0.2s ease;
}

.smsh-save-btn:hover {
     background-color: #049e6f;
}

.smsh-table {
     width: 100%;
     border-collapse: collapse;
     font-size: 16px;
     text-align: center;
     background: white;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.smsh-table thead th {
     background-color: #057252;
     color: white;
     font-weight: bold;
     padding: 12px;
     border: 1px solid rgba(255, 255, 255, 0.2);
     height: 60px;
     text-transform: uppercase;
}

.smsh-table tbody td {
     border: 1px solid #e0e0e0;
     padding: 12px;
     font-weight: 500;
     text-transform: uppercase;
}

.smsh-table tbody tr:nth-child(even) {
     background-color: #f9f9f9;
}

.smsh-edit-btn,
.smsh-delete-btn {
     width: 100%;
     padding: 10px;
     font-size: 17px;
     font-weight: 600;
     border-radius: 10px;
     cursor: pointer;
     border: none;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 7px;
     transition: background-color 0.2s ease;
}

.smsh-edit-btn {
     background-color: #18a539;
}

.smsh-edit-btn:hover {
     background-color: #168d32;
}

.smsh-delete-btn {
     background-color: #fd3535;
}

.smsh-delete-btn:hover {
     background-color: #ec2a2a;
}

.smsh-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.45);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000;
}

.smsh-edit,
.smsh-delete {
     background: #fff;
     border-radius: 12px;
     box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
     padding: 30px;
     width: 530px;
     max-width: 95%;
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.smsh-close-class {
     display: flex;
     justify-content: flex-end;
}

.smsh-close {
     font-size: 22px;
     cursor: pointer;
     background: none;
     border: none;
     color: #555;
     transition: color 0.2s ease;
}

.smsh-close:hover {
     color: #ff3b3b;
}

.smsh-edit-label {
     font-weight: 600;
     display: block;
     margin: 10px 0 5px;
}

.smsh-edit-search-label {
     margin: 15px 0px;
     text-transform: uppercase;
     font-weight: 600;
     display: block;
}

.smsh-edit {
     gap: 30px;
}

.smsh-edit-inputbox {
     width: 100%;
     padding: 11px 15px;
     font-size: 16px;
     border-radius: 8px;
     border: 1px solid #ccc;
}

.smsh-edit-psw {
     display: flex;
     justify-content: space-between;
     gap: 25px;
}

.smsm-edit-password {
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 5px
}

.smsh-edit-inputbox-psw {
     width: 100%;
     padding: 10px;
     border-radius: 8px;
     border: 1px solid #ccc;
     font-size: 16px;
     margin-top: 5px;
}

.smshh-delete-btn-container {
     display: flex;
     justify-content: flex-end;
     gap: 25px;
     margin-top: -10px
}

.smsh-delete-btn-container {
     display: flex;
     justify-content: flex-end;
     gap: 25px;
}

.smsh-add-save-btn {
     background-color: #057252;
     color: white;
     padding: 12px 25px;
     font-weight: 700;
     border-radius: 8px;
     border: none;
     cursor: pointer;
     transition: background-color 0.2s ease;
}

.smsh-add-save-btn:hover {
     background-color: #049e6f;
}

.smsh-save-edit-btn {
     background-color: #fd3535;
     color: white;
     padding: 12px 25px;
     font-weight: 700;
     border-radius: 8px;
     border: none;
     cursor: pointer;
     transition: background-color 0.2s ease;
}

.smsh-save-edit-btn:hover {
     background-color: #d62b2b;
}

.smsh-repo-light {
     background-color: #fff;
}

.smsh-repo-dark {
     background-color: #f9fafc;
}

.staff-repo-action {
     width: 12%;
}

/* Modal Header */
.smsh-addstaff h3,
.smsh-edit h3,
.smsh-delete h3 {
     font-size: 20px;
     font-weight: 700;
     color: #173d61;
     text-align: center;
}

.smsh-form {
     display: flex;
     flex-direction: column;
}

.smsh-edit-psw {
     display: flex;
     justify-content: space-between;
     gap: 25px;
}

.smsh-del-div {
     margin-top: 10px;
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 13px;
     font-size: 18px;
}

.relative {
     position: relative;
     width: 100%;
}

.dropdown-input {
     width: 100%;
     border-radius: 8px;
     border: 1px solid #ccc;
     font-size: 16px;
}

.dropdown-list {
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     z-index: 2000;
     background: #fff;
     border: 1px solid #ccc;
     border-radius: 6px;
     margin-top: 2px;
     max-height: 150px;
     overflow-y: auto;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
     padding: 8px 12px;
     font-size: 14px;
     cursor: pointer;
     text-align: left;
}

.dropdown-item:hover {
     background: #f5f5f5;
}