* {
  margin: 0px;
  padding: 0px;
}

.main-excelfile-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent-excelfile-container {
  border: 2px solid gray;
  border-radius: 20px;
  height: 1000px;
  width: 1100px;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

h1 {
  text-align: center;
}

.excelfile-container {
  width: 100%; 
}

input[type="file"] {
  background-color:white;
  width: 35%;
  border-radius: 5px; 
  border: 2px solid gray; 
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}
.file-container{
  display: flex;
  gap: 40px;

}
.upload{
  background-color: rgb(13, 124, 228);
  height: 10%;
  width: 25%;
  border-radius: 5px; 
  border: 2px solid #ddd; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  margin-top: 20px;
}
.download{
  background-color: #057252;
  height: 10%;
  width: 25%;
  border-radius: 5px; 
  border: 2px solid #ddd; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  margin-top: 20px;
}
.upload:hover {
  background-color: rgb(9, 61, 113);
  cursor: pointer;
}
.download:hover {
  background-color: #03573e;
  cursor: pointer;
}

.loading-model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  gap: 5px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}