* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.scope-main {
    padding: 9px;
    width: 100%;
    text-align: center;
    height: 100vh;
}

.scope-top-heading {
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.scope-header-span {
    display: block;
    text-align: center;
}

.scope-input-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.scope-search {
    width: 250px;
    height: 45px;
    padding: 15px;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.788);
    border: 2px solid black;
}

.scope-search::placeholder {
    padding: -5px;
    font-size: 17px;
}

.scope-save-btn {
    padding: 12px;
    border-radius: 10px;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}

.scope-save-btn:hover {
    background-color: #076ad4;
}

.scope-table-wrapper {
    flex-grow: 1; 
    overflow-y: auto;
    max-height: 85%; 
    flex-grow: 1;
    overflow-y: auto; 
    border: 1px solid #ddd;
}

.scope-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

.scope-table-header {
    background-color: #057252;
    text-align: center;
    color: white;
    top: 0;
    z-index: 1;
}

.scope-table input[type="checkbox"] {
    transform: scale(1.5); 
    margin: 0 5px; 
} 

.scope-table-header-checkbox {
    width: 40px;
    height: 20px;
}

.scope-table td, .scope-table th {
    border: 1px solid black;
    padding: 15px 8px;
    text-align: center;
    width: 55px;
}

.scope-table td {
    padding: 18px;
    border: 1px solid #ddd;
    font-weight: 500;
}

.scope-header-inputbox {
    margin: 0;
    height: 15px;
}

.scope-table thead {
    position: sticky;
    top: 0;
    z-index: 1; 
    background-color: #f9f9f9;
}

.scope-staffid {
    font-size: 17px;
    font-weight: 600;
}

.scope-dark {
    background-color: rgb(250, 250, 254);
}

.scope-light {
    background-color: white;
}