.pro-main {
    /* background-color: rgba(128, 128, 128, 0.288); */
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 35px;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.pro-a4 {
    width: 794px;
    /* height: 1036px; */
    background-color: white;
    margin-top: 100px;
    padding: 40px;
}

.pro-logo {
    width: 110px;
    height: 110px;
}

.pro-top {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.pro-clg {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pro-p1 {
    font-size: 25px;
    font-weight: bolder;
}

.pro-p2,
.pro-p3 {
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}

.pro-procedure {
    margin-top: 30px;
    font-size: 19px;
}

.pro-olist {
    margin-left: 20px;
    text-align: justify;
    margin-top: 15px;
}

.pro-list {
    margin-top: 7px;
    font-size: 17px;
}

.pro-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.pro-table th {
    text-align: center;
    font-size: 15px;
    padding: 12px;
    border: 0.5px solid black;
    font-weight: bold;
}

.pro-table td {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border: 0.5px solid black;
    font-weight: bold;
}

.pro-procedure-table {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

.pro-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.pro-info {
    display: flex;
    justify-content: space-between;
}

.pro-coe {
    margin-top: 100px;
    text-align: right;
    margin-bottom: 70px;
}

.pro-btn-content {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.pro-btn {
    padding: 12px;
    border-radius: 10px;
    width: 180px;
    font-size: 18px;
    font-weight: 700;
    background-color: #007BFF;
    color: white;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.pro-status {
    font-size: 22px;
    color: #555;
    margin-top: 20px;
    text-align: center;
}