* {
    margin: 0px;
    padding: 0px;
}

.staff-manage {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.staff-search {
    width: 25%;
    border-radius: 2px solid black;
    color: black;
    font-weight: bold;
    padding:8px;
    text-transform: uppercase;
}

.staff-header {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    font-size: 16px;
    text-align: left;
}

.staff-top-heading {
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.staff-th-sno, .staff-th-id, .staff-th-name, .staff-th-edit, .staff-th-delete {
    background-color: #1c8163;    
    text-align: center;
    font-size: 20px;
    color:white;
    border:1px solid gray;
    padding: 10px;
    height: 65px;
    font-weight: bold;
    border-color: black;
}

.staff-td-sno, .staff-td-id, .staff-td-edit, .staff-td-delete {
    text-align: center;
    font-size: 16px;
    border:1px solid gray;
    padding: 13px;
    font-weight: bold;
}

.staff-td-name {
    font-size: 16px;
    border: 1px solid gray;
    padding: 13px;
    font-weight: bold;
    padding-left: 30px;
}

.staff-td-edit button,.staff-td-delete button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007BFF;
    margin: 0 auto;
}

.staff-td-edit button:hover,.staff-td-delete button:hover {
    color: #0056b3;
}

.staff-btns {
    display: flex;
    gap: 5px;
}
.staff-icon {
    font-size: 18px;
    color: rgb(15, 114, 207);
}

.staff-span {
    font-size: 16px;
    color: rgb(15, 114, 207);
}

.staff-save-btn {
    padding: 12px;
    border-radius: 10px;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(13, 124, 228);
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.staff-input-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.staff-search {
    width: 270px;
    height: 45px;
    padding: 15px;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(250, 250, 254);
    border: 2px solid black;
}

.staff-save-btn:hover {
    background-color: rgb(29, 87, 145);
}

.staff-addstaff, .staff-edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000; 
    width: 550px;
    height: 630px;
}

.staff-close-class {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.staff-close-header {
    width: 90%;
    font-size: 25px;
    font-weight: bolder;
}

.staff-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 8px;
}

.staff-inputs {
    width: 100%;
    padding: 10px;
    height: 43px;
    margin-bottom: 17px;
    border: .5px solid rgb(48, 47, 47);
    border-radius: 4px;
    font-size: 17px;
}

.staff-addpopup input::placeholder {
    color: rgb(59, 58, 58);
    font-size: 13px;
}

.staff-check-boxes {
    display: flex;
    font-weight:500;
}

.staff-individual-check {
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    padding-bottom: 15px;
}

.staff-check-boxes input[type="checkbox"] {
    width: 15px;  
    height: 15px;
    margin-right: 10px;
    cursor: pointer; 
}

button.save-btn {
    background-color: rgb(13, 124, 228);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.staff-add-save-btn {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    background-color: rgb(13, 124, 228);
    border-radius: 8px;
    font-size: 19px;
    font-weight: bold;
}

button.save-btn:hover, .staff-add-save-btn:hover {
    background-color: rgb(29, 87, 145);
}

body.blur {
    transition: filter 0.3s ease;
}

.staff-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.staff-close:hover {
    background-color: red;
    color: white;
}