.dash-barchart-main {
    padding: 20px;
}

.dash-barchart-heading {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* Aligns the label to the right */
    align-items: center;
}

.progress-label {
    font-size: 14px;
    color: #333;
}

.dash-progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 15px;
    height: 20px;
    margin: 15px 0;
    overflow: hidden;
}

.dash-progress-bar {
    height: 100%;
    background-color: #2327ff;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 15px 0 0 15px;
    transition: width 0.3s ease;
}
