* {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}

.smst-main {
     padding: 12px;
     display: flex;
     flex-direction: column;
     gap: 17px;
}

.smst-input-btn {
     display: flex;
     justify-content: space-between;
}

.smst-save-btn {
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
}

.smsh-icon-add {
     font-size: 18px;
     font-weight: bolder;
}

.smst-table {
     width: 100%;
     border-collapse: collapse;
     font-size: 16px;
     text-align: left;
}

.smst-span {
     font-size: 18px;
     margin-left: 2px;
}

.smst-top-heading {
     text-align: center; 
     margin-top: 5px;
     font-size: 25px;
     font-weight: 700;
     letter-spacing: 1px;
     word-spacing: 2px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.smst-search {
     width: 270px;
     height: 45px;
     padding: 15px;
     border-radius: 7px;
     font-size: 17px;
     font-weight: 500;
     background-color: rgb(250, 250, 254);
     border: 2px solid black;
}

.smst-table thead th {
     background-color: #1c8163;
     text-align: center;
     font-size: 19px;
     color: white;
     padding: 10px 13px;
     height: 65px;
     font-weight: bold;
     border: 1px solid black;
}

.smst-table tbody td {
     text-align: center;
     font-size: 16px;
     border: 1px solid gray;
     padding: 10px 14px;
     font-weight: bold;
     height: 100px;
     text-transform: uppercase;
}

.smst-edit-btn,
.smst-delete-btn {
     border-radius: 10px;
     width: 100px;
     padding: 10px 0px;
     font-size: 17px;
     font-weight: 600;
     margin: 3px 0px;
     background-color: #18a539;
     color: white;
     border: none;
     cursor: pointer;
}

.smst-delete-btn {
     background-color: red;
}

.smst-count {
     display: flex;
     justify-content: flex-end;
}
.smst-icon {
     font-size: 16px;
     color: white;
}

.smst-repo-dark {
     background-color: rgb(250, 250, 254);
}

.smst-repo-light {
     background-color: white;
}

.smst-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.6); 
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000;
}

.smst-content {
     background: #fff;
     padding: 25px;
     width: 450px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     text-align: center;
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.smst-content h4 {
     font-size: 18px;
     text-transform: uppercase;
}







.modal {
    
 }
 
 /* Modal content box */
 .modal-content {
     
 }
 
 /* Close button */
 .modal-content button {
     margin-top: 10px;
     padding: 10px 20px;
     font-size: 14px;
     border: none;
     cursor: pointer;
     border-radius: 4px;
 }
 
 .modal-content button:hover {
     background-color: #ddd;
 }
 
 .modal-content h2 {
     margin-bottom: 20px;
 }
 
 .modal-buttons {
     display: flex;
     justify-content: space-between;
     gap: 10px;
 }