* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.log-parent {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right,
    rgb(26, 112, 30), rgb(18, 144, 163));
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-left-container {
    width: 450px;
    height: 450px;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border-right: 2px solid rgb(26, 112, 30);
    background-color: white;
}

.log-left-top {
    width: 100%;
    height: 70%;
    text-align: center ;
}

.log-jmclogo {
    width: 60%;
    height: auto;
}

.log-left-bottom {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-clg-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-clg-span {
    display: block;
    font-size: 23px;
    font-weight: bold ;
}

.log-right-container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}

.log-desc-para {
    font-size: 25px;
    color:rgb(26, 112, 30);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.log-desc-input {
    width: 75%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 19px;
    padding-left: 10px;
}

.log-desc-anchor {
    font-size: 15px;
}

.log-desc-btn {
    width: 77%;
    height: 50px;
    background-color: rgb(26, 112, 30);
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}

.log-fa-fa-icons
{
    color:white;
    font-size: 16px;
    width: 30px;
}
