.rsm-repo-main {
    padding: 15px;
    text-align: center;
}

.rsm-repo-header {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
}

.rsm-repo-heading {
    background-color: #1c8163;
    text-align: center;
    font-size: 18px;
    color: white;
    border: 1px solid gray;
    padding: 10px;
    height: 65px;
    font-weight: bold;
    border-color: black;
}

.rsm-repo-content,
.rsm-repo-content-sn {
    text-align: center;
    font-size: 16px;
    border: 1px solid gray;
    padding: 13px;
    font-weight: bold;
    height: 65px;
}

.rsm-repo-content-sn {
    text-transform: uppercase;
}

.rsm-search-input {
    padding: 13px;
    width: 280px;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 18px;
}

.rsm-repo-filter {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 5px;
}

.rsm-repo-label input[type="checkbox"] {
    transform: scale(1.5);
}


.rsm-repo-btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.rsm-repo-label {
    display: flex;
    gap: 12px;
    font-size: 20px;
}

.rsm-repo-search {
    text-align: left;
    margin-top: 20px;
}

.rsm-repo-dark {
    background-color: rgb(250, 250, 254);
}

.rsm-repo-light {
    background-color: white;
}

.rsm-repo-com-status {
    font-size: 20px;
}