* {
    margin: 0px;
    padding: 0px;
}
.course-main {
    width: 100%;
    height: 100%;
}

.course-subject-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    transition: 0.course-3s;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.course-subject-box:hover {
    box-shadow: 5px 5px 5px rgb(172, 172, 172);
}

.course-box:hover {
    border: 3px solid rgb(0, 0, 0);
}

.course-box-text {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.course-box-text-category {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    color: green;
}

.course-content-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    padding: 25px 20px;
    margin:0 auto;
    margin-bottom: 40px;
    box-shadow: 2px  4px 5px rgb(183, 183, 183);
}

.course-layout-top-div {
    width: 80%;
    height: 80%;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}