* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.course-main {
    width: 100%;
    height: 100%;
}

.course-layout-top-div {
    width: 85%;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.course-content-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 85%;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 2px  4px 5px rgb(183, 183, 183);
}

.course-entire-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.course-subject-box {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    cursor: pointer;
    transition: 0.course-3s;
    background-color: white;
}

.course-subject-box:hover {
    box-shadow: 5px 5px 5px rgb(172, 172, 172);
}

.course-box:hover {
    border: 3px solid rgb(0, 0, 0);
}

.course-box-text {
    text-transform: uppercase;
    font-weight:700;
    padding: 5px 10px;
}

.course-box-text-category {
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    color: green;
}

.course-box-text-dept {
    text-transform: uppercase;
    font-weight:700;
    padding: 5px 10px;
    line-height: 20px;
}